.featured-meta-item {

  .meta-item-tagline-and-classification {
    @extend .d-flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    .s72-classification {
      margin-right: 5px;
    }
    .meta-item-tagline {
      margin-bottom: 0;
      align-self: center;
      line-height: 100%;
    }
  }
}