.page {
  padding-top: $grid-gutter-width / 2;
  padding-bottom: $grid-gutter-width;
}

.form-page {

  @include media-breakpoint-up(md){
    padding-top: $grid-gutter-width * 4;
    padding-bottom: $grid-gutter-width * 4;
  }
}

.page-header {

  @include media-breakpoint-up(md){
    padding-top: $grid-gutter-width * 2;
    padding-bottom: $headings-margin-bottom;
  }
}

.page-content {
	border-bottom: $border-width solid rgba(255,255,255,0.1);
	margin-bottom: $headings-margin-bottom * 4;
}